html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.flash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.flash-screen svg {
    width: 10rem;
    animation-name: flash-screen-animation;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes flash-screen-animation {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

.flash-screen-hidden {
    opacity: 0;
}

.navbar-pers {
    height: 8%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    justify-content: space-around;
}

.navbar-header {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #2c2c2c;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    float: none;
    color: white;
}

main {
    display: flex;
    flex-flow: column;
    height: 92%;
}

.horizontal-distr {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.vertical-distr {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    width: 20%;
    background: #f5f5f7;
}

.btn {
    border-radius: 15px;
}

.btn-disabled {
    pointer-events: none;
    cursor: default;
    background-color: #6d6d6d;
    border-color: #6d6d6d;
    color: #c2c2c2;
}

.btn-disabled path {
    fill: #c2c2c2;
    stroke: #c2c2c2;
}

.action-btn {
    margin: 15% .5rem;
    padding: 5%;
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn p {
    margin: auto;
}

.graphics {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.emergency {
    padding: .7rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.horizontal-graphic {
    height: auto;
}

.horizontal-graphic p {
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal-graphics-bar {
    width: 60%;
}

.horizontal-bar {
    display: block;
    margin: 10px;
    background-color: #c2c2c2;
    width: 100%;
}

.horizontal-bar-front {
    background-color: limegreen;
    position: fixed;
    width: 48%;
    transform: translateY(-183%);
}

.horizontal-graphic-data {
    height: auto;
    justify-content: center;
    padding: 0 20%;
}

.horizontal-graphic-data::before {
    content: "";
    width: 20%;
}

.horizontal-graphic-data p {
    flex: 1 1 auto;
}

.vertical-graphic-bar {
    height: 100%;
    width: 22%;
}

.vertical-bar {
    display: block;
    background-color: #c2c2c2;
    height: 100%;
    width: 25px;
}

.vertical-bar-front {
    position: absolute;
    height: 20%;
    bottom: 0;
    transition: all ease-out 300ms;
}

.temperatura-bar {
    background: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 0, 255));
}

.luz {
    width: 2rem;
    height: 2rem;
    background-color: #c2c2c2;
    border-radius: 100%;
    margin: 0 .5rem;
}

.luz-encendida {
    background-color: limegreen;
}

.luz-alerta {
    background-color: #dc3545;
}

.tooltip-pers {
    position: absolute;
    left: 20%;
    width: 7rem;
    height: 5rem;
    background-color: #ee4859;
    border-radius: 10px;
    text-align: center;
}

.tooltip-pers .tooltip-pers-text {
    display: inline-block;
    position: relative;
    top: calc(50% - 2.3em);
    color: #fff;
    font-size: small;
}

.tooltip-pers .tooltip-pers-text::after {
    content: " ";
    position: absolute;
    bottom: calc(50% - 6px); /* At the bottom of the tooltip */
    right: 100%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #ee4859 transparent transparent;
}

.tooltip-pers-hidden {
    display: none;
}